#panel ul, .header ul {
  float: right;
  list-style-type: none;
  margin: 0;
  padding-right: 15px;
  }
#panel {
  font-size: 13px;
  font-weight: bold;

}
  #inline-links {
  display: inline;
  float: right;
  font-weight: 600;

}
.header li {
  display: inline;
  padding-left: 5px;
}
.header {
  padding: 25px;
}
.panel li {
  padding-left: 5px;

}
#greeting {
  text-align: center;
}

#banner {
  border: solid;
  border-color: #cfd4d8;
  clear: both;
}
.panel-success img {
  width: 200px;
  height: auto;
}
.panel-info img {
  width: 100px;
  height: auto;
  float: right;
}
#article {
  float: left;
  margin: 5px;
}
#article2 {
  margin-top: 0;
}
.panel-body p {
  padding-left: 5px;
}
.panel {
  margin-top: 5px;
}
.small-links {
  padding-top: 25px;
}
.panel-body ul {
  display: inline;
}
span {
  color: #025af8;
  font-weight: 700;
}
