.header ul, .panel ul{
  float: right;
  list-style-type: none;
  margin: 0;
  padding: 0;
  }
.header li {
  display: inline;
  padding-left: 5px;
}
.header {
  padding: 25px;
}
.panel li {
  padding-left: 5px;

}
.banner {
  text-align: center;
}
